@{
    ViewBag.Title = "Index";
}

<h2>Field Mapping</h2>

<p>
    @Html.ActionLink("Structure Field Mapping", "Index", "StructureFieldMapping") | 
    @Html.ActionLink("Component Field Mapping", "Index", "ComponentFieldMapping")
</p>
