@model IEnumerable<Entities.Models.Component>

@{
    ViewBag.Title = "Index";
}

<h2>Component Fields</h2>

@if(User.IsInRole(System.Web.Configuration.WebConfigurationManager.AppSettings["AdminDomainGroup"])) {
<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Reset Index", "Reset") |
    @Html.ActionLink("Large Sort", "Sort")
</p>
}

@Html.Partial("~/Views/Field/_IndexField.cshtml", Model)
