@model Entities.Models.StructureRule

@{
    ViewBag.Title = "Create";
}

<h2>Create Structure Rule</h2>

@Html.Partial("~/Views/Rules/_CreateRule.cshtml", Model)

<div>
    @Html.ActionLink("Back to Rules", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/FH.Geds.Rules")
}